body {
  margin: 0;
  font-family: Arial;
  overflow: hidden;
  background: black;
}

a {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}

.label {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 11px;
}

.docking_score {
  font-size: 13.33px;
  margin: 0 0 0 8px;
}

.textbox {
  width: 70px;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  color: #ffffff00;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

#segmentholder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background: rgba(245, 245, 245, 0.7);
  display: none
}

#segmentHeader {
  height: 25px;
  float: left;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

#segmentPanel {
  display: none;
  width: 708px;
  height: 501px;
  border: 2px solid #f79049;
  position: absolute;
  top: 11%;
  left: 24%;
  z-index: 9999;
  background: #f7f4f4;
  border-style: outset;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 3px #f79049;
}

#closesegment {
  float: right;
  font-size: 18px;
  color: red;
  margin: 2px 3px 0px 0px;
  cursor: pointer;
}

#segmentContent {
  height: calc(100% - 25px);
  float: left;
  width: 100%
}

#segmentContent ul {
  float: left;
}

.segment_option {
  width: 98%;
  height: 40px;
  border-bottom: 1px dashed #ccc;
  float: left;
}

#chainStyle {
  float: left;
  margin-top: 10px;
}

#chainIDSelect {
  float: left;
  margin-left: 90px;
  color: #333;
  margin-top: 12px;
  width: 100px
}

#fragmentStyle {
  float: left;
  margin-top: 10px;
}

#startPoint {
  float: left;
  margin-left: 62px;
  color: #333;
  margin-top: 12px;
  width: 100px
}

#endPoint {
  float: left;
  margin-left: 62px;
  color: #333;
  margin-top: 12px;
  width: 100px
}

#sseType {
  float: left;
  margin-top: 10px;
}

#sseTypeSelect {
  float: left;
  margin-left: 73px;
  color: #333;
  margin-top: 12px;
  width: 100px
}

#residueType {
  float: left;
  margin-top: 10px;
}

#residueTypeSelect {
  float: left;
  margin-left: 62px;
  color: #333;
  margin-top: 12px;
  width: 100px
}

#selectedMode {
  float: left;
  margin-left: 40px;
  color: #333;
  margin-top: 12px;
  width: 150px
}

#seletedPanel {
  width: 98%;
  height: 120px;
  float: left;
  border: 1px solid #CCC;
}

#addSelected {
  width: 138px;
  height: 25px;
  font-size: 16px;
  color: #fff;
  background: #f79049;
  border-radius: 5px;
  float: left;
  margin: 6px 10px 0px 10px;
  text-align: center;
}

#Confirm_fregment {
  width: 68px;
  height: 25px;
  font-size: 16px;
  color: #fff;
  background: #f79049;
  border-radius: 5px;
  float: left;
  margin: 6px 10px 0px 30px;
}

#editResidue {
  display: none;
  width: 350px;
  height: 251px;
  border: 2px solid #f79049;
  position: absolute;
  top: 24%;
  left: 36%;
  z-index: 9999;
  background: #f7f4f4;
  border-style: outset;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 3px #f79049;
}

#editResidueHeader {
  height: 25px;
  float: left;
  border-bottom: 1px solid #ccc;
  width: 100%
}

#closeeditResidue {
  float: right;
  font-size: 18px;
  color: red;
  margin: 2px 3px 0px 0px;
  cursor: pointer;
}

#editResidueContent {
  height: calc(100% - 25px);
  float: left;
  width: 100%
}

#editResidueContent div {
  margin-left: 30px;
  float: left;
  height: 25px;
  width: 100%;
}

#editResidueContent ul {
  float: left;
  padding: 0px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

#editResidueContent ul li {
  margin-left: 30px;
  list-style: none;
  width: 100%;
  height: 30px;
}

#chain_replace {
  float: left;
  width: 50px;
  margin-left: 10px;
}

#residue_replace {
  float: left;
  width: 80px;
  margin-left: 10px;
}

#allResidue {
  float: left;
  width: 70px;
  margin-left: 10px;
}

#representation {
  float: left;
  width: 70px;
  margin-left: 10px;
}

#b_replace {
  float: left;
  width: 80px;
  background: #f79049;
  height: 30px;
  line-height: 17px;
  border-radius: 5px;
  margin-left: 10px;
}

#vrMode {
  left: calc(50% - 40px);
  width: 80px;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  padding: 12px 6px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  font: 13px sans-serif;
  text-align: center;
  opacity: 0.5;
  outline: none;
  z-index: 999;
}

LABEL {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 0px;
  padding: 5px 10px 0px 0px;
}

button {
  color: rgb(255, 255, 255);
  background: transparent;
  border: 0px;
  /*padding: 5px 10px;*/
  cursor: pointer;
}

button:hover {
  background-color: rgba(31, 127, 92, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(31, 127, 92, 1);
  /*rgba(0,255,255,1) */
}

.label {
  /*text-shadow: -1px 1px 1px rgb(0,0,0);
    margin-left: 25px;*/
}

#topmenu {
  position: absolute;
  top: 80px;
  left: 10px;
  width: 170px;
  text-align: left;
  padding: 0;
  margin-left: 10px;
  z-index: 1;
  overflow: auto;
  overflow-x: hidden;
  bottom: 20px;
}

#topmenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#topmenu::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#topmenu::-webkit-scrollbar-thumb {
  background-color: #000000;
}

#searchDiv {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 444px;
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.search_text {
  width: 50px;
  padding: 15px 0 15px 10px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 42px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #f79049;
  /*#f79049;*/
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

#search_text:focus {
  background: rgb(64, 151, 119);
}

/* .voice{
  margin-left: -20px;
  z-index: -1000;
} */

.top_btn {
  border: 0 none;
  width: 50px;
  float: left;
  padding: 0;
  text-align: center;
  height: 42px;
  cursor: pointer;
  background: #999999;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: white;
  border-radius: 0px;
}

.submenu {
  margin-bottom: 0.5em;
}

.rightsubmenu {
  margin-bottom: 0.5em;
  overflow: scroll;
  width: 180px;
}

.mutationTable {
  margin-bottom: 0.5em;
  overflow: scroll;
  right: 10px;
}

.line {
  width: 180px;
  left: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

.closerClass:hover {
  background: rgba(197, 189, 173, 0.35);
}

.fragment {
  background: #293342;
  color: #fff;
  line-height: 25px;
  border-radius: 3px;
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 15px;
  cursor: pointer;
}

.fragment:hover {
  background: #87b1f1;
}

.fragment .fragmentdel {
  color: red;
  cursor: pointer;
}

.fragment .fragmentdel:hover {
  background: rgba(211, 48, 30, 0.23);
}

#rightmenu {
  position: absolute;
  top: 80px;
  right: 10px;
  /*width: 400px;
    height: 800px;*/
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 1;
  /*overflow-y:scroll;*/
  overflow-x: hidden;
}

#mutationTable {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 400px;
  height: 800px;
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-a table {
  border: 1px solid #FFFFFF
}

.test{
  margin-top: -2px;

}
.input-file {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 14px;
  background-color: #999999;
  border: 0 none;
  /* padding: 14px 10px; */
  padding: 14px 0px 14px 0px;
  margin-left: -4px;
  font-size: 12px;
  font-weight: normal;
  /* line-height: 18px;  */
  color: #fff;
  text-decoration: none;
}

.input-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: #999999;
  transform: translate(-300px, 0px) scale(4);
  opacity: 0;
  filter: alpha(opacity=0);
}

.chainSelected {
  background: #412ba5;
  border: 1px solid #1712b1;
  border-radius: 5px;
}

.chainBtn {
  float: left;
  margin-left: 3px;
}

.xyz_min_max input {
  width: 60px;
  height: 14px;
  background: #fff
}

#progress {
  display: none;
}

.holderClass {
  margin: auto;
  width: 205px;
  text-align: center;
  color: #293342;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  display: table-cell;
  vertical-align: middle;
}
