.mymetadata
.checkstyle
.classpath
.project
.class
*.war
*.wav
*.zip
.rar
.idea
*.iml
.DS_Store
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
awstats-icon
awstatsicons
icon
cgi-bin
stats
docs
vrmol.docs
docs/.DS_Store
data/drugbank
data/.DS_Store
data/figs/.DS_Store
data/figs/vr/.DS_Store
server/autodock/jobs
server/speech/__pycache__
server/autodock/log
server/autodock/scores
