.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.DS_Store
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
awstats-icon
awstatsicons
icon
cgi-bin
stats
docs
vrmol.docs
docs/.DS_Store
data/drugbank
data/.DS_Store
data/figs/.DS_Store
data/figs/vr/.DS_Store
server/autodock/jobs
server/listen1/__pycache__
server/listen2/__pycache__
server/listen2/voice
server/listen2/result.log
server/listen2/static-data/x.base64
server/listen3/__pycache__
server/listen3/voice
server/listen3/result.log
server/listen3/static-data/x.base64
